@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
$color-primary: #6b0504;
$color-secondary: #d5e68d;
$color-tertiary: #a3320b;
$color-dark: #241023;

$font-family-primary: "Jost", sans-serif;
